@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
     background-color: #E0C458;
     margin: 1;
     padding: 1;
     color: #cccccc;
}

a:link {
     color: #cccccc;
}
a:visited {
     color: #cccccc;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
	 color: #000000;
}
.homePage {
	background: #82EB65;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #589AE0;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FF0101;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #F96461;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #6DF796;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
